# Exploring NYC Public School Test Results Scores

### In this project, I analyzed SAT performance data for high schools in New York City. The analysis focuses on identifying patterns and high-performing schools based on their SAT scores. Key tasks performed in this project include:

‚úÖ Identifying top math performers: Schools where the average math score is at least 80% of the maximum possible score (i.e., 640 out of 800).

üèÜ Finding top 10 overall schools: Based on the combined SAT score, which includes math, reading, and writing.

üìç Analyzing borough-level variation: Determining which single borough shows the highest standard deviation in combined SAT scores, indicating the widest variation in performance among its schools.

This analysis provides insights into academic performance across different schools and boroughs, highlighting excellence and disparities in SAT outcomes.

In [1]:
import pandas as pd
schools = pd.read_csv("schools.csv")

In [2]:
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [8]:
#The best math results are at least 80% of the *maximum possible score of 800* for math.
#A top math score means getting at least 640 out of 800.
best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)

print("Schools with the best math results (at least 80% of 800): \n")
print(best_math_schools)

Schools with the best math results (at least 80% of 800):

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [10]:
#What are the top 10 performing schools based on the combined SAT scores?
schools ["total_SAT"] = schools["average_math"]+ schools["average_reading"]+ schools["average_writing"]

In [16]:
top_10_schools = schools[["school_name", "total_SAT"]].sort_values("total_SAT", ascending = False).head(10)
print("The top 10 SAT's scores are: \n")
print(top_10_schools)

The top 10 SAT's scores are:

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [17]:
boroughs = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)

largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]

largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})

print("\nBorough with the largest standard deviation in total SAT scores:\n")
print(largest_std_dev)

Borough with the largest standard deviation in total SAT scores:

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29